{
//    "presets": ["es2015"],
	"presets": [
		"env"
	],
    "plugins": [
		//"transform-vue-jsx",
//        "transform-runtime",
//        "transform-object-rest-spread",
		"syntax-dynamic-import"
    ]
}