{
	//    "presets": ["es2015"],
	"presets": [
		"env"
	],
	    "plugins": [
	//        "transform-runtime",
	//        "transform-object-rest-spread",
			"syntax-dynamic-import"
	    ]
//	"plugins": [
//		[
//			"import",
//			{
//				"libraryName": "iview",
//				"libraryDirectory": "src/components"
//			}
//		]
//	]
}